<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title"> Imparte</h4>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscador" id="buscador" #texto (keyup)="setDesde(0);" (keyup)="buscarImparte(texto.value);" name="filterUsu" [(ngModel)]=" filterUsu">
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                        <thead *ngIf="!filterUsu; else vacio2" class=" text-primary">
                            <tr>
                                <th ng-for scope="col" [mdbTableSort]="this.impartevar" sortBy="id">Id Imparte
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.impartevar" sortBy="idprofesor">Id Profesor
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.usuariovar" sortBy="nombre">Nombre Profesor
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.impartevar" sortBy="idasignatura">Id Asignatura
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.asig" sortBy="nombre">Nombre Asignatura
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.impartevar" sortBy="precio">Precio
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                            </tr>
                        </thead>
                        <ng-template #vacio2>
                            <tr>
                                <th ng-for scope="col" [mdbTableSort]="this.MBusquedaImp" sortBy="id">Id Imparte
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.MBusquedaImp" sortBy="idprofesor">Id Profesor
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.MBusquedaImp" sortBy="nombre">Nombre Profesor
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.MBusquedaImp" sortBy="idasignatura">Id Asignatura
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.MBusquedaImp" sortBy="nombre">Nombre Asignatura
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.MBusquedaImp" sortBy="precio">Precio
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                            </tr>
                        </ng-template>
                        <tbody *ngIf="!filterUsu; else vacio">
                            <ng-container *ngFor="let imparte of impartevar">
                                <tr>
                                    <td>{{imparte.id}}</td>
                                    <td>{{imparte.idprofesor}}</td>
                                    <td>{{imparte.nombreProfesor}}</td>
                                    <td>{{imparte.idasignatura}}</td>
                                    <td>{{imparte.nombreAsignatura}}</td>
                                    <td>{{imparte.precio}}</td>
                                    <td><button (click)="deleteImparte(imparte.id)" class="btn btn-danger btn-block">Borrar</button></td>
                                </tr>
                            </ng-container>
                            <span class="badge badge-light">Página actual: {{(desde/6)+1}}</span>
                        </tbody>
                        <ng-template #vacio>
                            <ng-container *ngFor="let imparte of MBusquedaImp">
                                <tr>
                                    <td>{{imparte.id}}</td>
                                    <td>{{imparte.idprofesor}}</td>
                                    <td>{{imparte.nombreProfesor}}</td>
                                    <td>{{imparte.idasignatura}}</td>
                                    <td>{{imparte.nombreAsignatura}}</td>
                                    <td>{{imparte.precio}}</td>
                                    <td><button (click)="deleteImparte(imparte.id)" class="btn btn-danger btn-block">Borrar</button></td>
                                </tr>
                            </ng-container>
                            <span class="badge badge-light">Página actual: {{(desde/6)+1}}</span>
                        </ng-template>
                    </table>

                </div>
            </div>
        </div>
        <div id="p" class="mt-5 mb-5">
            <button (click)="setDesde(0)" class="btn btn-info float-lg-left">Primero</button>
            <button (click)="cambiarDesde(-6)" class="btn btn-info float-lg-left">Anterior</button>
            <div *ngFor="let tot of botones">
                <button (click)="setDesde(tot*6)" class="btn btn-info">{{tot+1}}</button>
            </div>
            <button (click)="cambiarDesde(+6)" class="btn btn-info float-lg-right">Siguiente</button>
            <button (click)="setDesde((imptotalEntero*6)-6)" class="btn btn-info float-lg-left">Último({{totEntero}})</button>
        </div>
    </div>
</div>