<div class="row">
  <div class="row-10">
    <div class="card card-chart">
      <div id="embed-api-auth-container" class="text-light"  ></div>
      <div id="view-selector-container" class="text-light"></div>
      <div id="view-name" class="text-light"></div>
      <div id="active-users-container" class="text-info"></div>
    </div>
  </div>
</div>
  


  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
         
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Comparación entre esta semana y la semana pasada (por sesiones)</h5>
            </div>
            <div class="Chartjs" >
              <figure class="Chartjs-figure" id="chart-1-container"></figure>
              <ol class="Chartjs-legend" id="legend-1-container"></ol>
            </div>
          
        </div>
      </div>
    </div>
  
  
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
         
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Comparación entre este año y el año pasada (por usuarios)</h5>
            </div>
            <div class="Chartjs">
              <figure class="Chartjs-figure" id="chart-2-container"></figure>
              <ol class="Chartjs-legend" id="legend-2-container"></ol>
            </div>
          </div>
      
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Top navegadores (por visualizaciones)</h5>
        </div>
        <div class="card-body">
          <div class="Chartjs">
            <figure class="Chartjs-figure" id="chart-3-container"></figure>
            <ol class="Chartjs-legend" id="legend-3-container"></ol>
          </div>
        </div>
      </div>
    </div>



    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Top países (por sesiones)</h5>
        </div>
        <div class="card-body">
          <div class="Chartjs">
            <figure class="Chartjs-figure" id="chart-4-container"></figure>
            <ol class="Chartjs-legend" id="legend-4-container"></ol>
          </div>
        </div>
      </div>
    </div>


<!--
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Chatbot</h5>
        </div>
        <div class="card-body">
          <iframe height="350" width="300" src="https://bot.dialogflow.com/d90a4a26-db21-4f09-b5e5-6035f0e0d7a1"></iframe>
        </div>
      </div>
    </div>-->



