<div class="row">
    <div *ngIf="profvar!=null && profe!=null" class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title"> Profesores</h4>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscador" id="buscador" #texto (keyup)="setDesde(0);" (keyup)="buscarProf(texto.value);" name="filterUsu" [(ngModel)]=" filterUsu">
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter" ng-app="app" ng-controller="ListadeProfes" id="">
                        <thead *ngIf="!filterUsu; else vacio2" class=" text-primary">
                            <tr>
                                <th ng-for scope="col" [mdbTableSort]="this.profe" sortBy="id">Id Usuario
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.profvar" sortBy="id">Id Profesor
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.profe" sortBy="nombre">Nombre
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.profe" sortBy="apellidos">Apellidos
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.profe" sortBy="fecha_nacimiento">Fecha</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Info</th>
                            </tr>
                        </thead>
                        <ng-template #vacio2>
                            <tr>
                                <th ng-for scope="col" [mdbTableSort]="this.MBusquedaProf" sortBy="id">Id Usuario
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.MBusquedaProf" sortBy="id">Id Profesor
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.MBusquedaProf" sortBy="nombre">Nombre
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.MBusquedaProf" sortBy="apellidos">Apellidos
                                    <mdb-icon fas icon="sort"></mdb-icon>
                                </th>
                                <th scope="col" [mdbTableSort]="this.MBusquedaProf" sortBy="fecha_nacimiento">Fecha</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Info</th>
                            </tr>
                        </ng-template>
                        <tbody *ngIf="!filterUsu; else vacio">
                            <ng-container *ngFor="let prof of profvar">
                                <tr *ngFor="let profesor of profe">
                                    <ng-container *ngIf="profesor.id==prof.idUsuario">
                                        <td>{{profesor.id}}</td>
                                        <td>{{prof.id}}</td>
                                        <td>{{profesor.nombre}}</td>
                                        <td>{{profesor.apellidos}}</td>
                                        <td>{{profesor.fecha_nacimiento}}</td>

                                        <td><button class="btn btn-warning btn-block" [routerLink]="['../edit-user', profesor.id]">Editar</button></td>
                                        <td><button (click)="deleteProfesor(prof.id)" class="btn btn-danger btn-block">Borrar</button></td>
                                        <td><button class="btn btn-info btn-block" [routerLink]="['../info', profesor.id]">Info</button></td>
                                    </ng-container>
                                </tr>

                            </ng-container>
                            <span class="badge badge-light">Página actual: {{(desde/6)+1}}</span>
                        </tbody>
                        <ng-template #vacio>
                            <ng-container *ngFor="let prof of Bprofe">
                                <tr *ngFor="let profesor of MBusquedaProf">
                                    <ng-container *ngIf="profesor.id==prof.idUsuario">
                                        <td>{{profesor.id}}</td>
                                        <td>{{prof.id}}</td>
                                        <td>{{profesor.nombre}}</td>
                                        <td>{{profesor.apellidos}}</td>
                                        <td>{{profesor.fecha_nacimiento}}</td>

                                        <td><button class="btn btn-warning btn-block" [routerLink]="['../edit-user', profesor.id]">Editar</button></td>
                                        <td><button (click)="deleteProfesor(prof.id)" class="btn btn-danger btn-block">Borrar</button></td>
                                        <td><button class="btn btn-info btn-block" [routerLink]="['../info', profesor.id]">Info</button></td>
                                    </ng-container>
                                </tr>
                            </ng-container>
                            <span class="badge badge-light">Página actual: {{(desde/6)+1}}</span>
                        </ng-template>
                    </table>
                </div>
            </div>
        </div>
        <div id="p" class="mt-5 mb-5">
            <button (click)="setDesde(0)" class="btn btn-info float-lg-left">Primero</button>
            <button (click)="cambiarDesde(-6)" class="btn btn-info float-lg-left">Anterior</button>
            <div *ngFor="let tot of botones">
                <button (click)="setDesde(tot*6)" class="btn btn-info">{{tot+1}}</button>
            </div>
            <button (click)="cambiarDesde(+6)" class="btn btn-info float-lg-right">Siguiente</button>
            <button (click)="setDesde((profesorestotalEntero*6)-6)" class="btn btn-info float-lg-left">Último({{totEntero}})</button>
        </div>
    </div>
</div>