<footer class="footer">
    <div class="grid">

        <div class="a">
            <p> <img src="assets/img/inkwelltrans.webp" width="50px" height="50px"> &copy; {{fecha}} Inkwell.</p>
        </div>
        <div class="b">
            <p>Visita nuestras redes sociales</p>
            <a class="fab fa-instagram" href="https://www.instagram.com/inkwellabp/" target="_blank"> </a>
            <a class="fab fa-twitter" href="https://twitter.com/inkwellabp/" target="_blank"> </a>
            <a class="fas fa-envelope" href="mailto:abp.inkwell@gmail.com" target="_blank"> </a>
            <a class="fab fa-youtube" href="https://www.youtube.com/channel/UCBENzBa6NSAY56-H8BQn3OQ"></a>
        </div>
        <div class="c">
            <p>Sobre Inkwell</p>
            <a href="https://aulapp.ovh/inkwell/blog-2/" target="_blank">Blog</a><br>
            <a href="https://aulapp.ovh/inkwell/" target="_blank">Web corporativa</a><br>
            <a href="https://aulapp.ovh/inkwell/politica-de-privacidad/" target="_blank">Politica de Privacidad</a><br>
            <a href="https://aulapp.ovh/exelearning/">Objeto de Aprendizaje</a><br>
        </div>
    </div>
</footer>