<div class="container px-5 py-5">
    <div class="col-lg-6">
        <h1>{{titulo}}</h1>
        <!-- (ngSubmit)="editarPass()" -->
        <form ngNativeValidate [formGroup]="forma" (ngSubmit)="editarPass()">
            <div class="form-group">

                <label for="pwd">Introduce tu nueva contraseña:</label>
                <input formControlName="contrasena" name="contrasena" required type="password" class="form-control" id="pwd">
                <span class="form-group" *ngIf="forma.controls['contrasena'].touched && forma.controls['contrasena'].errors?.required">
                    <div class="text-danger m-1">
                        La contraseña es obligatoria.
                    </div>
                </span>
                <span class="form-group" *ngIf="forma.controls['contrasena'].touched && forma.controls['contrasena'].errors?.pattern">
                    <div class="text-danger m-1">
                        Mayúscula, minúscula, carácter especial(@#$%), número y de 6-20 caracteres
                    </div>
                </span>

            </div>

            <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
        </form>

    </div>

</div>