<div class="row">
    <div class="col-md-8">
      <div class="card card-chart">
        <div class="card-header ">
          <div class="row">
            <div class="col-sm-6 text-left">
                <h5 class="card-category"> <a id="atras" [routerLink]="['/admin/crud-asignaturas']"><i class="fas fa-chevron-left"></i> Atrás </a></h5>
                <h2 class="card-title">Crear asignatura</h2>
              </div>
                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="crearAsignatura()" class="d-inline-block m-5 pr-5" >
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input formControlName="nombre" name="nombre" type="text" class="form-control" id="nombre" required> 
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-danger">Crear</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>




