<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title"> Usuarios</h4>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscador" id="buscador" #texto (keyup)="setDesde(0);" (keyup)="buscarUsu(texto.value);" name="filterUsu" [(ngModel)]=" filterUsu">
                </div>

            </div>
            <div class="card-body ">
                <div class="table-responsive ">
                    <table mdbTable class="table tablesorter " id="tableSortExample ">
                        <thead *ngIf="!filterUsu; else vacio2" class=" text-primary ">
                            <tr>
                                <th ng-for [mdbTableSort]="this.usuariosvar " sortBy="id " scope="col ">Id
                                    <mdb-icon fas icon="sort "></mdb-icon>
                                </th>
                                <th [mdbTableSort]="this.usuariosvar " sortBy="nombre " scope="col ">Nombre
                                    <mdb-icon fas icon="sort "></mdb-icon>
                                </th>
                                <th [mdbTableSort]="this.usuariosvar " sortBy="apellidos " scope="col ">Apellidos
                                    <mdb-icon fas icon="sort "></mdb-icon>
                                </th>
                                <th [mdbTableSort]="this.usuariosvar " sortBy="fecha_nacimiento " scope="col ">Estado de la cuenta
                                    <mdb-icon fas icon="sort "></mdb-icon>
                                </th>
                                <th scope="col ">Edit</th>
                                <th scope="col ">Delete</th>
                                <th scope="col ">Info</th>
                            </tr>
                        </thead>
                        <ng-template #vacio2>
                            <tr>
                                <th ng-for [mdbTableSort]="this.MBusquedaUsu " sortBy="id " scope="col ">Id
                                    <mdb-icon fas icon="sort "></mdb-icon>
                                </th>
                                <th [mdbTableSort]="this.MBusquedaUsu " sortBy="nombre " scope="col ">Nombre
                                    <mdb-icon fas icon="sort "></mdb-icon>
                                </th>
                                <th [mdbTableSort]="this.MBusquedaUsu " sortBy="apellidos " scope="col ">Apellidos
                                    <mdb-icon fas icon="sort "></mdb-icon>
                                </th>
                                <th [mdbTableSort]="this.MBusquedaUsu " sortBy="fecha_nacimiento " scope="col ">Estado de la cuenta
                                    <mdb-icon fas icon="sort "></mdb-icon>
                                </th>
                                <th scope="col ">Edit</th>
                                <th scope="col ">Delete</th>
                                <th scope="col ">Info</th>
                            </tr>
                        </ng-template>
                        <tbody *ngIf="!filterUsu; else vacio">
                            <tr *ngFor="let usuario of usuariosvar">
                                <td>{{usuario.id}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.apellidos}}</td>
                                <td style="color: green; " *ngIf="usuario.verificada>= 1">Verificada</td>
                                <td style="color:red" *ngIf="usuario.verificada <= 0">No verificada</td>
                                <td><button class="btn btn-warning btn-block" [routerLink]="['../edit-user', usuario.id]">Editar</button></td>
                                <td><button (click)="deleteUser(usuario.id)" class="btn btn-danger btn-block">Borrar</button></td>
                                <td><button class="btn btn-info btn-block" [routerLink]="['../info', usuario.id]">Info</button></td>

                            </tr>
                            <span class="badge badge-light">Página actual: {{(desde/6)+1}}</span>
                        </tbody>
                        <ng-template #vacio>
                            <tr *ngFor="let usuario of MBusquedaUsu">
                                <td>{{usuario.id}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.apellidos}}</td>
                                <td style="color: green; " *ngIf="usuario.verificada>= 1">Verificada</td>
                                <td style="color:red" *ngIf="usuario.verificada <= 0">No verificada</td>
                                <td><button class="btn btn-warning btn-block" [routerLink]="['../edit-user', usuario.id]">Editar</button></td>
                                <td><button (click)="deleteUser(usuario.id)" class="btn btn-danger btn-block">Borrar</button></td>
                                <td><button class="btn btn-info btn-block" [routerLink]="['../info', usuario.id]">Info</button></td>

                            </tr>
                            <span class="badge badge-light">Página actual: {{(desde/6)+1}}</span>
                        </ng-template>
                    </table>

                </div>
            </div>
        </div>
        <div id="p" class="mt-5 mb-5">
            <button (click)="setDesde(0)" class="btn btn-info float-lg-left">Primero</button>
            <button (click)="cambiarDesde(-6)" class="btn btn-info float-lg-left">Anterior</button>
            <div *ngFor="let tot of botones">
                <button (click)="setDesde(tot*6)" class="btn btn-info">{{tot+1}}</button>
            </div>
            <button (click)="cambiarDesde(+6)" class="btn btn-info float-lg-right">Siguiente</button>
            <button (click)="setDesde((usuariostotalEntero*6)-6)" class="btn btn-info float-lg-left">Último({{totEntero}})</button>
        </div>
    </div>

</div>